# Python
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
_pycache_/
*.swp
*.swo
*.DS_Store
*.egg
*.egg-info/
*.eggs/

# Django
*.log
local_settings.py
db.sqlite3
/media
/staticfiles
/static

# Virtualenv
venv/
env/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PyCharm
*.iml
*.iws
.idea/
*.ipr

# Pycharm specific
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# VSCode
.vscode/
.vscode/*

# MacOS
.DS_Store

# Linux
*.~ 
*.swo
*.swp

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# pipenv
pipenv.lock

# pyenv
.python-version

.env

# Docker
*.dockerignore
Dockerfile
docker-compose.yml

# Coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/